html,body{ 
    background-color: #171717;
}

.mainlogo{
    padding-top: 10px;
    width: 30%;
}

.video{
	padding-top: 25px;
}

.metrics{
	padding-right: 20px;
}

td {
    vertical-align: top;
}

h3.metricstitle{
	font-family: "Open Sans", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #ecedee;
	line-height: 0px;
    height: 0px;
}

h3.metricstitle2ndrow{
	padding-top: 20px;
	font-family: "Open Sans", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #ecedee;
	line-height: 0px;
    height: 0px;
}

.nav-logo{
    height:18px;
    padding-top: 1px;
}

.blackfont{
    color: #222222;
}

.whitegrad {
    background: #090909;
}


.navbar {
    border-bottom: 1px solid #090909;
    box-shadow: 0px 0px 0px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}