/*----GLOBAL CSS STYLESHEET----*/

/* ------------------
 *   MAIN MENU BAR
 * ----------------- */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 35px;
    box-shadow: 0px 0.25px 10px;
    opacity: 0.8;
    overflow: hidden;
}

.grad {
    background: #000;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 7px;
}

.nav li {
    padding: 1%;
    padding-bottom: 8px;
    padding-top: 10px;
}

li {
    padding-top: 11px;
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    vertical-align: bottom;
    padding-top: 10px;
    padding-right: 25px;
}

.whitefont{
    color: #fff;
}

.navspace{
    padding-right: 27px;
    display: none;
}

body, html {
    margin: 0;
    height:100%;
    width:100%;
    padding: 0;
    background-color: #222222;
}

div{
    outline: 0px solid transparent;
}

a{
    text-decoration:none;
    color: inherit;
}

#verticalcentersection{
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 5%;
    left: 2.5%;
}

section {
    display: block;
    height:100%;
    width:100%;
    overflow:hidden;
}


.white{
    color: #fff;
}

.black{
    color: #000;
}

.grey{
    color: #dadada;
}

.greycopyright{
    color: #cbcaca
}

.copyright{
    padding-top: 22px;
    padding-bottom: 23px;
    font-weight: 200;
    text-align: center;
    font-size: 12px;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
