/*----GLOBAL CSS STYLESHEET----*/

html,body{ 
    background-color: #171717;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #da1b1b;
    box-shadow: 0px 0px 0px;
    opacity: 0.8;
    overflow: hidden;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 8px;
}

.nav li {
    padding: 1%;
    padding-bottom: 8px;
    padding-top: 15px;
}

li {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    vertical-align: bottom;
    padding-top: 15px;
    padding-right: 25px;
    color: #fff;
}


#verticalcentersection{
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 5%;
    left: 2.5%;
}

#videobox {
    position: relative; 
    width: 720px;
    height: 405px;
}

#video {
    position: absolute;
    top: 0px;
    z-index: 1;
}

#offlineimage {
    position: absolute; 
    z-index: 2;
}

.mainlogo{
    padding-top: 10px;
    width: 30%;
}



.metrics{
	padding-right: 20px;
}

td {
    vertical-align: top;
}

h3.metricstitle{
	font-family: "Open Sans", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 500;
	color: #ecedee;
	line-height: 0px;
    height: 0px;
}

h3.metricstitle2ndrow{
	padding-top: 20px;
	font-family: "Open Sans", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 500;
	color: #ecedee;
	line-height: 0px;
    height: 0px;
}

.nav-logo{
    height:18px;
    padding-top: 1px;
}

.whitegrad {
    background: #090909;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}